/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar{
	width: 0;
	height: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header span{
	text-transform: uppercase;
	margin-top: 0.2rem;
}

#admin-bar{
	background-color: black;
    padding-block: 0.8rem;
    width: 100%;
	color: white;
    display: flex;
    justify-content: center;
	align-items: center;
	font-size: 1rem;
	gap: 0.5rem;
}

#admin-bar p{
	font-weight: lighter;
}

#button-changes{
	margin-inline: 1rem;
    border-radius: 5rem;
    background-color: white;
    color: black;
    padding: 0.7rem 1.7em;
    font-weight: bold;
    font-family: inherit;
    border-radius: 2em;
    border: 0px solid transparent;
	cursor: pointer;
}

#admin-edit{
	display: flex;
	margin-left: 3.5rem;
    width: fit-content;
	margin-top: -2rem;
	gap: 0.5rem;
	cursor: pointer;
}

#admin-edit p:hover{
	color: #B1663C;
}

#portfolio-title{
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
	padding-top: 4rem;
}

#admin-edit-portfolio{
	display: flex;
    gap: 0.5rem;
	cursor: pointer;
}

#admin-edit-portfolio p:hover{
	color: #B1663C;
}

a{
    text-decoration: none;
	color: inherit;
}

a:visited{
	color: inherit;
}

a:active, a:hover{
    color: #B1663C;
}

body{
	line-height: 1;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body{
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}

#header{
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section{
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span{
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-size: 2em;
}

nav ul{
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 20px;
	font-size: 1rem;
}

nav li:hover{
	color: #B1663C;
	cursor: pointer;
}

nav li img{
	width: 1.4rem;
}

.nav-bold{
	font-weight: bold;
}

.no-hover:hover{
	cursor:default;
	color: black;
}

#login-link{
	display: block;
}

#logout-link{
	display: none;
	color: #D65353;
}

#logout-link:hover{
	color: red;
}

#introduction{
	display: flex;
	align-items: center;
}

#introduction figure{
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article{
	flex: 1
}

#introduction h2{
	margin-bottom: 1em;
}

#introduction p{
	margin-bottom: 0.5em;
}

#portfolio h2{
	text-align: center;
	/* margin-top: 4em; */
}

#gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img{
	width: 100%;
}

.buttons-container{
	margin-block: 4em;
	display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.button{
	background-color: transparent;
	color: #1d6154;
	padding: 0.5rem 0.5rem;
    min-width: 6rem;
	font-family: "Syne";
	font-size: medium;
	border-radius: 2em;
	border: 1px solid #1d6154
}

.button:hover{
	cursor: pointer;
	background-color: #1d6154;
	color: white;
}

.button-selected{
	background-color: #1d6154;
	color: white;
}

#contact{
	width: 50%;
	margin: auto;
}

#login{
	width: 40%;
	margin-inline: auto;
    margin-block: 15rem;
}

#login p:last-child{
	text-decoration: underline;
	cursor: pointer;
	width: fit-content;
    margin: auto;
}

#login p:last-child:hover{
	color: #B1663C;
}

.error-message{
    color: #D65353;
    margin-bottom: 2rem;
}

#contact > *, #login > *{
	text-align: center;
}

#contact h2, #login h2{
	margin-bottom: 20px;
}

#contact form, #login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label{
	margin: 2em 0 1em 0;
}

#contact textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#submit-btn{
	font-family: 'Syne';
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 12rem;
    border-radius: 60px;
	padding: 0.8rem;
	cursor: pointer;
	height: 2.5rem;
	display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#submit-btn:focus{
	outline: none;
}

#submit-btn:hover{
	background-color: #0e2f28;
}

.fa-spinner:before {
    content: "\f110";
    font-size: x-large;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
	cursor: pointer;
	background-color: #0e2f28;
}

.modal-bkg{
	background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
	z-index: 1;
}

dialog{
	border-radius: 0.7rem;
    border: none;
	padding: 2em;
}

dialog::backdrop{
	display: none;
}

dialog p{
	color: #D65353;
	font-family: 'Syne';
	width: fit-content;
	margin: auto;
	cursor: pointer;
}

dialog p:hover{
	color: red;
}

#close{
	font-size: large;
    margin: 0 0 1rem auto;
    cursor: pointer;
    width: fit-content;
}

#close i{
	cursor: pointer;
}

#gallery-title{
	text-align: center;
}

#gallery-container{
	padding: 3rem 4rem 1rem;
}

#admin-gallery{
	position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
}

#admin-gallery img{
	width: 5rem;
}

#admin-gallery figcaption{
	cursor: pointer;
	width: fit-content;
}

.delete, .move{
	position: absolute;
    top: 0.3em;
    right: 0.3em;
    background-color: black;
    color: white;
    padding: 0.2rem;
    font-size: small;
	border-radius: 0.2rem;
	min-width: 13px;
    min-height: 13px;
	text-align: center;
	cursor: pointer;
}

.move{
	right: 2em;
}

.fa-arrows-up-down-left-right, .fa-trash-can{
	vertical-align: text-bottom;
}

#separator{
	height: 1px;
	width: auto;
	margin-top: 3rem;
	background-color: #b3b3b3;
}

footer{
	background-color: white;
}

footer nav ul{
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	padding: 2em;
}